@using ICSoft.CMSLib
@using LawsVN.App_GlobalResources
@model LawsVN.Models.Account.ChangePasswordModel
@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}
<div class="box-section">
    <div class="login-content">
        <div class="tie-login">Đổi mật khẩu</div>
        <div class="form-login">
            @using (Ajax.BeginForm("ChangePassword", "Ajax", null, new AjaxOptions()
            {
                HttpMethod = "Post",
                OnBegin = "lawsVn.ajaxEvents.OnBegin",
                OnComplete = "lawsVn.ajaxEvents.OnComplete",
                OnSuccess = "lawsVn.ajaxEvents.LoginOnSuccess"
            }, new { id = "ChangePasswordForm" }))
            {
                @Html.AntiForgeryToken()
                <div class="item-login">
                    @Html.TextBoxFor(m => m.CurrentPassword, new { @class = "input-text", type = "password", placeholder = "Mật khẩu hiện tại" })
                    @Html.ValidationMessageFor(m => m.CurrentPassword, "", new { @class = "text-danger" })
                </div>
                <div class="item-login">
                    @Html.TextBoxFor(m => m.Password, new { @class = "input-text", type = "password", placeholder = "Mật khẩu mới" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="item-login">
                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "input-text", type = "password", placeholder = "Nhập mật khẩu mới" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
                <div class="item-center">
                    <button class="btn1 ">@Resource.Confirm</button>
                    <a href="@(Request.UrlReferrer != null ? Request.UrlReferrer.AbsoluteUri : CmsConstants.ROOT_PATH)" class="btn2">Hủy</a>
                </div>
            }
        </div>
    </div>
</div>
