@using LawsVN.App_GlobalResources
@using ICSoft.CMSLib
@using LawsVN.Library
@using ICSoft.CMSViewLib
@using LawsVN.Models
@using LawsVN.Models.Docs
@using ICSoft.LawDocsLib
@{
    ViewBag.Title = "CustomerListDocsByField";
    Layout = "~/Views/Shared/_LayoutMyLuatVN.cshtml";
}

@model CustomerDocsViewModel
<div class="page-content">
    <div class="content-left">
        <div class="breadcrumb">
            <a href="@CmsConstants.ROOT_PATH" title="@Resource.HomePage" class="breadcrumb-item"><span class="icon-home"></span>@Resource.HomePage </a>
            @if (Model.ListFields != null && Model.ListFields.Any())
            {
                <span> »</span>  <span class="breadcrumb-item colorrumb"> @Model.ListFields[0].FieldName </span>
            }
        </div>
        @if (Model.ListFields != null && Model.ListFields.Any())
        {
            <div class="page-head">
                <div class="padding-left20">
                    <h1 class="page-title">@Html.Raw(Model.SeoHeader.ToString())</h1>
                    <p class="info-page">@Html.Raw(Model.MetaDesc.ToString())</p>
                </div>
            </div>
        }

        <section class="cat-box search-box">
            @{Html.RenderAction("PartialFullSearch", "Shared", new { model = new PartialDocSearchModel { SearchOptions = 1, DocGroupId = Model.PartialPaginationAjaxFirst.DocGroupId, FieldId = Model.PartialPaginationAjaxFirst.FieldId } });}
        </section>

        <section class="cat-box">
            <div class="tab-conten">
                <div id="ListByFieldTab" class="tab-nav">
                    @Ajax.ActionLink(Resource.All, Model.PartialPaginationAjaxFirst.ActionName, Model.PartialPaginationAjaxFirst.ControllerName,
                    new
                    {
                        docGroupId = Model.PartialPaginationAjaxFirst.DocGroupId
                        ,
                        fieldId = Model.PartialPaginationAjaxFirst.FieldId
                        ,
                        languageId = Model.PartialPaginationAjaxFirst.LanguageId
                        ,
                        updateTargetId = Model.PartialPaginationAjaxFirst.LawsAjaxOptions.UpdateTargetId
                        ,
                        insertionMode = Model.PartialPaginationAjaxFirst.LawsAjaxOptions.InsertionMode
                        ,
                        controllerName = Model.PartialPaginationAjaxFirst.ControllerName
                        ,
                        actionName = Model.PartialPaginationAjaxFirst.ActionName
                        ,
                        pageSize = Model.PartialPaginationAjaxFirst.PageSize
                        ,
                        linkLimit = Model.PartialPaginationAjaxFirst.LinkLimit,
                        postTimeRight = Model.PartialPaginationAjaxFirst.PostTimeRight
                    },
                    new AjaxOptions
                    {
                        HttpMethod = "Get",
                        UpdateTargetId = Model.PartialPaginationAjaxFirst.LawsAjaxOptions.UpdateTargetId,
                        InsertionMode = Model.PartialPaginationAjaxFirst.LawsAjaxOptions.InsertionMode,
                        OnBegin = string.Format("lawsVn.ajaxEvents.OnBegin('{0}')", Model.PartialPaginationAjaxFirst.LawsAjaxOptions.UpdateTargetId),
                        OnComplete = string.Format("lawsVn.ajaxEvents.OnComplete('{0}'); lawsVn.ListByFieldUpdate({1}); lawsVn.updateEffectStatusName('');", Model.PartialPaginationAjaxFirst.LawsAjaxOptions.UpdateTargetId, Model.PartialPaginationAjaxFirst.FieldId),
                        OnSuccess = "lawsVn.numbersResultFound"
                    }, new { @class = "tab-nav-item1 active" })

                    @Ajax.ActionLink(Resource.ComingIntoEffect, Model.PartialPaginationAjaxFirst.ActionName, Model.PartialPaginationAjaxFirst.ControllerName,
                    new
                    {
                        docGroupId = Model.PartialPaginationAjaxFirst.DocGroupId
                        ,
                        fieldId = Model.PartialPaginationAjaxFirst.FieldId
                        ,
                        effectStatusName = "SapCoHieuLuc"
                        ,
                        languageId = Model.PartialPaginationAjaxFirst.LanguageId
                        ,
                        updateTargetId = Model.PartialPaginationAjaxFirst.LawsAjaxOptions.UpdateTargetId
                        ,
                        insertionMode = Model.PartialPaginationAjaxFirst.LawsAjaxOptions.InsertionMode
                        ,
                        controllerName = Model.PartialPaginationAjaxFirst.ControllerName
                        ,
                        actionName = Model.PartialPaginationAjaxFirst.ActionName
                        ,
                        pageSize = Model.PartialPaginationAjaxFirst.PageSize
                        ,
                        linkLimit = Model.PartialPaginationAjaxFirst.LinkLimit
                        ,
                        postTimeRight = Model.PartialPaginationAjaxFirst.PostTimeRight
                    },
                    new AjaxOptions
                    {
                        HttpMethod = "Get",
                        UpdateTargetId = Model.PartialPaginationAjaxFirst.LawsAjaxOptions.UpdateTargetId,
                        InsertionMode = Model.PartialPaginationAjaxFirst.LawsAjaxOptions.InsertionMode,
                        OnBegin = string.Format("lawsVn.ajaxEvents.OnBegin('{0}')", Model.PartialPaginationAjaxFirst.LawsAjaxOptions.UpdateTargetId),
                        OnComplete = string.Format("lawsVn.ajaxEvents.OnComplete('{0}'); lawsVn.ListByFieldUpdate({1}); lawsVn.updateEffectStatusName('SapCoHieuLuc');", Model.PartialPaginationAjaxFirst.LawsAjaxOptions.UpdateTargetId, Model.PartialPaginationAjaxFirst.FieldId),
                        OnSuccess = "lawsVn.numbersResultFound"
                    }, new { @class = "tab-nav-item1" })

                    @Ajax.ActionLink(Resource.AlmostOutOfDate, Model.PartialPaginationAjaxFirst.ActionName, Model.PartialPaginationAjaxFirst.ControllerName,
                    new
                    {
                        docGroupId = Model.PartialPaginationAjaxFirst.DocGroupId
                        ,
                        fieldId = Model.PartialPaginationAjaxFirst.FieldId
                        ,
                        effectStatusName = "SapHetHieuLuc"
                        ,
                        languageId = Model.PartialPaginationAjaxFirst.LanguageId
                        ,
                        updateTargetId = Model.PartialPaginationAjaxFirst.LawsAjaxOptions.UpdateTargetId
                        ,
                        insertionMode = Model.PartialPaginationAjaxFirst.LawsAjaxOptions.InsertionMode
                        ,
                        controllerName = Model.PartialPaginationAjaxFirst.ControllerName
                        ,
                        actionName = Model.PartialPaginationAjaxFirst.ActionName
                        ,
                        pageSize = Model.PartialPaginationAjaxFirst.PageSize
                        ,
                        linkLimit = Model.PartialPaginationAjaxFirst.LinkLimit
                        ,
                        postTimeRight = Model.PartialPaginationAjaxFirst.PostTimeRight
                    },
                    new AjaxOptions
                    {
                        HttpMethod = "Get",
                        UpdateTargetId = Model.PartialPaginationAjaxFirst.LawsAjaxOptions.UpdateTargetId,
                        InsertionMode = Model.PartialPaginationAjaxFirst.LawsAjaxOptions.InsertionMode,
                        OnBegin = string.Format("lawsVn.ajaxEvents.OnBegin('{0}')", Model.PartialPaginationAjaxFirst.LawsAjaxOptions.UpdateTargetId),
                        OnComplete = string.Format("lawsVn.ajaxEvents.OnComplete('{0}'); lawsVn.ListByFieldUpdate({1});lawsVn.updateEffectStatusName('SapHetHieuLuc');", Model.PartialPaginationAjaxFirst.LawsAjaxOptions.UpdateTargetId, Model.PartialPaginationAjaxFirst.FieldId),
                        OnSuccess = "lawsVn.numbersResultFound"
                    }, new { @class = "tab-nav-item1" })

                    <div class="view-post" id="txtnumberresultfound">
                        <span>
                            @Resource.Find <strong>@Model.PartialPaginationAjaxFirst.TotalPage @Resource.Result </strong>
                            @if (Model.PartialPaginationAjaxFirst.pageCount >= 0)
                            {
                                @(string.Format("({0}/{1} {2})", Model.PartialPaginationAjaxFirst.PageIndex + 1, Model.PartialPaginationAjaxFirst.pageCount, Resource.Page.ToLower()))
                            }
                        </span>
                    </div>
                </div>

                <div class="lockq">
                    <div class="item-loctheo">
                        <span class="icon-loc-kq"></span>@Resource.FilterBy:
                    </div>
                    @using (Ajax.BeginForm(Model.PartialPaginationAjaxFirst.ActionName, Model.PartialPaginationAjaxFirst.ControllerName, new
                {
                    docGroupId = Model.PartialPaginationAjaxFirst.DocGroupId,
                    languageId = Model.PartialPaginationAjaxFirst.LanguageId,
                    updateTargetId = Model.PartialPaginationAjaxFirst.LawsAjaxOptions.UpdateTargetId,
                    insertionMode = Model.PartialPaginationAjaxFirst.LawsAjaxOptions.InsertionMode,
                    controllerName = Model.PartialPaginationAjaxFirst.ControllerName,
                    actionName = Model.PartialPaginationAjaxFirst.ActionName,
                    pageSize = Model.PartialPaginationAjaxFirst.PageSize,
                    linkLimit = Model.PartialPaginationAjaxFirst.LinkLimit,
                    postTimeRight = Model.PartialPaginationAjaxFirst.PostTimeRight
                }, new AjaxOptions
                {
                    HttpMethod = "Get",
                    UpdateTargetId = Model.PartialPaginationAjaxFirst.LawsAjaxOptions.UpdateTargetId,
                    InsertionMode = InsertionMode.Replace,
                    OnBegin = string.Format("lawsVn.ajaxEvents.OnBegin('{0}')", Model.PartialPaginationAjaxFirst.LawsAjaxOptions.UpdateTargetId),
                    OnComplete = string.Format("lawsVn.ajaxEvents.OnComplete('{0}');", Model.PartialPaginationAjaxFirst.LawsAjaxOptions.UpdateTargetId, Model.PartialPaginationAjaxFirst.FieldId),
                    OnSuccess = "lawsVn.numbersResultFound"
                }))
                    {
                        <div class="item-lockq" id="selectField">
                            <select id="ddlFieldId" name="FieldId" tabindex="1" data-fieldid="@Model.PartialPaginationAjaxFirst.FieldId" class="dropdown select-onchange">
                                <option value="0" title="@Resource.AllFields">@Resource.AllFields</option>
                                @foreach (var item in Model.lCustomerFields)
                                {
                                    Fields myFields = Fields.Static_Get(item.FieldId, 0);
                                    <option value="@myFields.FieldId" title="@myFields.FieldName" @(item.FieldId == Model.PartialPaginationAjaxFirst.FieldId ? "selected" : string.Empty)>@myFields.FieldName</option>
                                }
                            </select>
                        </div>
                        <div class="item-lockq">
                            <select id="ddlEffectStatusId" name="EffectStatusId" tabindex="2" data-fieldid="@Model.PartialPaginationAjaxFirst.FieldId" class="dropdown select-onchange">
                                <option value="0" title="@Resource.EffectStatus">@Resource.EffectStatus</option>
                                @foreach (var item in Model.ListEffectStatus)
                                {
                                    <option value="@item.EffectStatusId" title="@item.EffectStatusDesc">@item.EffectStatusDesc</option>
                                }
                            </select>
                        </div>
                        <div class="item-lockq">
                            <select id="ddlDocTypeId" name="DocTypeId" tabindex="3" data-fieldid="@Model.PartialPaginationAjaxFirst.FieldId" class="dropdown select-onchange">
                                <option value="0" title="@Resource.DocTypes">@Resource.DocTypes</option>
                                @foreach (var item in Model.ListDocTypes)
                                {
                                    <option value="@item.DocTypeId" title="@item.DocTypeDesc">@item.DocTypeDesc</option>
                                }
                            </select>
                        </div>
                        <div class="item-lockq">
                            <select id="ddlOrganId" name="OrganId" tabindex="4" data-fieldid="@Model.PartialPaginationAjaxFirst.FieldId" class="dropdown select-onchange">
                                <option value="0" title="@Resource.Organs">@Resource.Organs</option>
                                @foreach (var item in Model.ListOrgans)
                                {
                                    <option value="@item.OrganId" title="@item.OrganDesc">@item.OrganDesc</option>
                                }
                            </select>
                        </div>
                        <input type="hidden" name="effectStatusName" value="" />
                    }
                </div>

                <div class="cat-box-content">
                    <div id="ListByField" class="click-1">
                        @if (Model.lMyDocs.HasValue())
                        {
                            <table class="table table-bordered">
                                <tbody>
                                    @for (int index = 1; index <= Model.lMyDocs.Count; index++)
                                    {
                                        string effectname = Model.ListEffectStatus.GetEffectStatusNameById(Model.lMyDocs[index - 1].EffectStatusId).TrimmedOrDefault(Resource.Updating);
                                        <tr class="row-first-news @(index % 2 != 0 ? "" : "bgcolor")">
                                            <th class="count-123 page" scope="row">@index.ToString("#00")</th>
                                            <td class="news-left-post">
                                                <h3>
                                                    <a href="@Model.lMyDocs[index - 1].GetDocUrl()" title="@Model.lMyDocs[index - 1].DocName.StripTags()" class="post-title lvn">@Model.lMyDocs[index - 1].DocName</a>
                                                </h3>
                                                <div class="item-meta">
                                                    @{ Html.RenderAction("PartialLinkDocumentAttribute", "Shared", new { model = new PartialLinkDocumentAttributeModel { mDocsView = Model.lMyDocs[index - 1], ClassName = "tag-item item7" } }); }
                                                </div>
                                            </td>
                                            <td class="post-time-right page">
                                                @{ Html.RenderAction("PartialLinkDocumentAttribute2", "Shared", new { model = new PartialLinkDocumentAttributeModel { mDocsView = Model.lMyDocs[index - 1], EffectStatusName = effectname } }); }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                                    {
                                        Html.RenderAction("PartialPaginationAjax2", "Shared", new { model = Model.PartialPaginationAjaxFirst });
                                    }
                        }
                        else
                        {
                            <table class="table table-bordered">
                                <tbody>
                                    <tr class="row-first-news">
                                        <th class="count-123" scope="row"></th>
                                        <td class="news-center-post">
                                            <h3>
                                                <span class="post-title lvn">@Resource.NoMatchingDocumentFound</span>
                                            </h3>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="content-right">
        <aside class="sidebar">
            <!--Bengin widget ads-->
            <div class="widget">
                <div class="banner">
                    <a href="@CmsConstants.ROOT_PATH"><img alt="banner quang cao" src="@Url.Content("~/assets/images/hompage.png")"></a>
                </div>
            </div>
            <!--End widget ads-->
            <!--Bengin widget-->
            @*@if (Model.DataTableField != null)
        {
            <div class="widget">
                <div class="widget-top">
                    <span class="title-widget" style="float: left; text-align: left; padding: 0 15px;">Lĩnh vực Văn Bản quan tâm</span>
                    <a href="#" class="thaydoi-3 select-customer-fields"><img src="@Url.Content("~/assets/images/my-edit.png")"></a>
                </div>
                <div class="widget-container">
                    @foreach (System.Data.DataRow row in Model.DataTableField.Rows)
                    {
                        if (row.ItemArray.Length > 3)
                        {
                            Fields myFields = Fields.Static_Get(short.Parse(row.ItemArray[2].ToString()), 0);
                            <div class="recent-post-linhvuc">
                                <span class="icon-new-23"></span>
                                <div class="post-conten news">
                                    <a href="@string.Format(CmsConstants.ROOT_PATH + "giao-dien-ca-nhan/" + myFields.GetUrl().Replace("giao-dien-ca-nhan/",""))" class="post-title">@myFields.FieldDesc<span style="color: #b28247;"> (@(row.ItemArray[3].ToString()))</span></a>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        }*@
            <!--End widget-->
            <!--Bengin widget-->
            @{Html.RenderAction("PartialWidgetUser", "Shared", true);}
            <!--End widget-->
            @{Html.RenderAction("PartialCustomerInterFaceFields", "Shared");}
            <!--Bengin widget-->
            @{Html.RenderAction("PartialTinVan", "Shared", new { model = Model.mArticlesViewMaster.lCategoriesRight1.HasValue() ? Model.mArticlesViewMaster.lCategoriesRight1[0] : null });}
            <!--End widget-->
            <!--Bengin widget ads-->
            <div class="widget">
                <div class="banner">
                    <a href="#"><img alt="banner quang cao" src="@Url.Content("~/assets/images/banner1.png")"></a>
                </div>
            </div>
            <!--End widget ads-->
            <!--Bengin widget-->
            @{Html.RenderAction("PartialDocsMostView", "Shared");}
            <!--End widget-->
            <!--Bengin widget-->
            @if (Model.mArticlesViewMaster.lCategoriesRight2.Count > 0)
    {
        CategoriesView mCategoriesView = Model.mArticlesViewMaster.lCategoriesRight2[0];
        if (mCategoriesView.lArticlesView.Count > 0)
        {
            <div class="widget ">
                <div class="widget-top">
                    <h3><span class="title-widget">@mCategoriesView.CategoryName</span></h3>
                </div>
                <div class="widget-container">
                    @foreach (ArticlesView mArticlesView in mCategoriesView.lArticlesView)
            {
                <div class="recent-post">
                    <div class="post-thumbnail">
                        <a href="@mArticlesView.GetArticleUrl()" class="thumb70"><img alt="thumb70" src="@mArticlesView.GetImageUrl_Thumb()"></a>
                    </div>
                    <div class="post-wg">
                        <a href="@mArticlesView.GetArticleUrl()" class="post-title-widget">@mArticlesView.Title</a>
                        <p><span class="tie-date">@mArticlesView.PublishTime.ToString("dd/MM/yyyy mm:hh") </span></p>
                    </div>
                </div>
    }
                </div>
            </div>
}
}
        </aside>
    </div>
</div>
@{Html.RenderAction("PartialContentViewed", "Shared");}
<div class="cat-box partner">
    <div class="cat-title center"><h4><span class="title-post-kh">Khách hàng nói về chúng tôi</span></h4></div>
    <div class="cat-box-content">
        <div id="partnerLink" class="col-xs-2 md2">
            @Html.Partial("PartialPartnerLink")
        </div>
        <div class="col-xs-2 md2">
            @{Html.RenderAction("PartialSharedCorner", "Shared");}
        </div>
    </div>
</div>
@section FooterSection
{
    <div class="nav-onclick-menu">
        <div class="onclick-menu">
            <a href="#" class="overlayLink" data-action="">
                <img alt="dma" src="@Url.Content("~/assets/images/icon-danh-muc.png")" />
                Danh<br />mục
            </a>
        </div>
        <div class="overlay" style="display: none;">
            <div class="login-wrapper">
                <div class="login-content">
                    <a class="close">x</a>
                    <div class="nav_categories">
                        <div class="widget-top"><span class="title-widget">Lĩnh vực tra cứu</span></div>
                        @{ Html.RenderAction("PartialFieldOfSearch", "Shared", new { displayTypeId = Model.PartialPaginationAjaxFirst.DisplayTypeId, docGroupId = Model.PartialPaginationAjaxFirst.DocGroupId });}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
    jQuery(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd/mm/yy',
            yearRange: "1945:c",
            changeMonth: true,
            changeYear: true
        });
        $(".datepicker").datepicker("option", "monthNames", ["Tháng 1", "Tháng 2", "Tháng 3", "Tháng 4", "Tháng 5", "Tháng 6", "Tháng 7", "Tháng 8", "Tháng 9", "Tháng 10", "Tháng 11", "Tháng 12"]);
        $(".datepicker").datepicker("option", "monthNamesShort", ["Tháng 1", "Tháng 2", "Tháng 3", "Tháng 4", "Tháng 5", "Tháng 6", "Tháng 7", "Tháng 8", "Tháng 9", "Tháng 10", "Tháng 11", "Tháng 12"]);
        $(".datepicker").datepicker("option", "dayNamesMin", ["CN", "T2", "T3", "T4", "T5", "T6", "T7"]);
    });
    </script>
}
