@using LawsVN.Library
@model LawsVN.Models.Docs.DocsViewDetailModel
<div class="page-content box-shadow" id="FirstBox">
    <div id="docPrint" class="box-vblienquan">
        <div class="rows item3">
            <div class="right-vb1">
                <a href="#" class="docPrint" title="In lược đồ" style="font-weight: bold;">
                    <img class="in-print" alt="in-print" src="@Url.Content("~/assets/images/in2.png")">
                    In lược đồ</a>
            </div>
        </div>

        <div class="cat-box-content">
            <div class="content luocdo">
                <div class="col-xs-2 luocdo">
                    @if (Model.ListRelateTypesTop1.HasValue())
                    {
                        foreach (var item in Model.ListRelateTypesTop1)
                        {
                            var listDocsRelatesTop1 = Model.mDocsViewDetail.lDocRelates.GetDocsRelatesByRelateType(item.RelateTypeId, "Top1");
                            bool isScroll = listDocsRelatesTop1.HasValue() && listDocsRelatesTop1.Count >= 4;
                            <div class="tab-conten-hd1">
                            <div id="cssmenu">
                                <ul>
                                    <li class="has-sub">
                                        <a href="#" class="title-blt">
                                            @(item.RelateTypeName)  <span class="colora67942">(@(listDocsRelatesTop1.HasValue() ? listDocsRelatesTop1.Count : 0)) </span>
                                            <span class="xem_them_loto"></span>
                                        </a>
                                        <ul style="display: block;">
                                            <div class="content-cssmenu @(isScroll ? "content-scroll-luocdo" : string.Empty)" @(isScroll ? "style=height: 350px;" : string.Empty)>
                                                @if (listDocsRelatesTop1.HasValue())
                                                {
                                                    foreach (var docRelates in listDocsRelatesTop1)
                                                    { 
                                                    <div class="rows item4 luocdo dashed">
                                                        <a href="@(docRelates.DocGroupId == Constants.DocGroupIdVbkhongconoidung ? "#" : docRelates.DocUrl)" title="" id="properties-1-@docRelates.DocId" class="doc-properties @(docRelates.DocGroupId == Constants.DocGroupIdVbkhongconoidung ? "vb-khong-co-nd" : string.Empty)">@docRelates.DocName</a>
                                                    </div>
                                                    }
                                                }
                                            </div>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        }
                    }
                </div>
                <div class="col-xs-2 luocdo">
                    @if (Model.ListRelateTypesTop2.HasValue())
                    {
                        foreach (var item in Model.ListRelateTypesTop2)
                        {
                            var listDocsRelatesTop2 = Model.mDocsViewDetail.lDocRelates.GetDocsRelatesByRelateType(item.RelateTypeId, "Top2");
                            bool isScroll = listDocsRelatesTop2.HasValue() && listDocsRelatesTop2.Count >= 4;
                            <div class="tab-conten-hd1">
                            <div id="cssmenu">
                                <ul>
                                    <li class="has-sub">
                                        <a href="#" class="title-blt">
                                            @(item.RelateTypeName)  <span class="colora67942">(@(listDocsRelatesTop2.HasValue() ? listDocsRelatesTop2.Count : 0)) </span>
                                            <span class="xem_them_loto"></span>
                                        </a>
                                        <ul style="display: block;">
                                            <div class="content-cssmenu @(isScroll ? "content-scroll-luocdo" : string.Empty)" @(isScroll ? "style=height: 350px;" : string.Empty)>
                                                @if (listDocsRelatesTop2.HasValue())
                                                {
                                                    foreach (var docRelates in listDocsRelatesTop2)
                                                    {
                                                    <div class="rows item4 luocdo dashed">
                                                        <a href="@(docRelates.DocGroupId == Constants.DocGroupIdVbkhongconoidung ? "#" : docRelates.DocUrl)" title="" id="properties-1-@docRelates.DocId" class="doc-properties @(docRelates.DocGroupId == Constants.DocGroupIdVbkhongconoidung ? "vb-khong-co-nd" : string.Empty)">@docRelates.DocName</a>
                                                    </div>
                                                    }
                                                }
                                            </div>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        }
                    }
                </div>
            </div>
            <div class="content luocdo" style="margin-bottom: 0;">
                <div class="col-xs-3">
                    @if (Model.ListRelateTypesLeft.HasValue())
                    {
                        foreach (var item in Model.ListRelateTypesLeft)
                        {
                            var listDocsRelatesLeft = Model.mDocsViewDetail.lDocRelates.GetDocsRelatesByRelateType(item.RelateTypeId, "Left");
                            bool isScroll = listDocsRelatesLeft.HasValue() && listDocsRelatesLeft.Count >= 4;
                            <div class="tab-conten-hd1">
                            <div id="cssmenu">
                                <ul>
                                    <li class="has-sub">
                                        <a href="#" class="title-blt">
                                            @item.RelateTypeName  <span class="colora67942">(@(listDocsRelatesLeft.HasValue() ? listDocsRelatesLeft.Count : 0)) </span>
                                            <span class="xem_them_loto"></span>
                                        </a>
                                        <ul style="display: block;">
                                            <div class="content-cssmenu @(isScroll ? "content-scroll-luocdo" : string.Empty)" @(isScroll ? "style=height: 350px;" : string.Empty)>
                                                @if (listDocsRelatesLeft.HasValue())
                                                {
                                                    foreach (var docRelates in listDocsRelatesLeft)
                                                    {
                                                    <div class="rows item4 luocdo">
                                                        <a href="@(docRelates.DocGroupId == Constants.DocGroupIdVbkhongconoidung ? "#" : docRelates.DocUrl)" title="" id="properties-1-@docRelates.DocId" class="doc-properties @(docRelates.DocGroupId == Constants.DocGroupIdVbkhongconoidung ? "vb-khong-co-nd" : string.Empty)">@docRelates.DocName</a>
                                                    </div>
                                                    }
                                                }
                                            </div>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        }
                    }
                </div>

                <div class="col-xs-3">
                    <div class="tab-conten-hd1">
                        <div id="detail-cssmenu">
                            <ul>
                                <li class="ehas-sub">
                                    <span class="title-blt" style="color: #fff; background: #49c5c7; font-size: 14px;">Văn bản đang xem</span>
                                    <ul style="display: block !important;">
                                        <div class="content-cssmenu bge0f6f7">
                                            <div class="rows item4 luocdo">
                                                <a href="@Model.mDocsViewDetail.mDocsView.GetDocUrl()" title="@Model.mDocsViewDetail.mDocsView.DocName" class="post-title">@Model.mDocsViewDetail.mDocsView.DocName</a>
                                            </div>
                                            <div class="rows item4 luocdo">
                                                <p><span class="wg-info">Cơ quan ban hành:</span>@Model.mDocsViewDetail.mDocsView.OrgansText</p>
                                                <p><span class="wg-info">Số hiệu:</span>@Model.mDocsViewDetail.mDocsView.DocIdentity</p>
                                                <p><span class="wg-info">@string.Format("{0} ban hành",Model.mDocsViewDetail.mDocsView.IssueDate != DateTime.MinValue ? "Ngày" : "Năm")</span>@Model.mDocsViewDetail.mDocsView.IssueDate.toString(Model.mDocsViewDetail.mDocsView.IssueYear.ToString())</p>
                                                <p><span class="wg-info">Hiệu lực:</span>@Model.mDocsViewDetail.mDocsView.EffectDate.toString()</p>
                                                <p><span class="wg-info">Người ký:</span>@Model.mDocsViewDetail.mDocsView.SignersText</p>
                                                <p><span class="wg-info">Ngày hết hiệu lực:</span>@Model.mDocsViewDetail.mDocsView.ExpireDate.toString() </p>
                                                <p><span class="wg-info">Tình trạng hiệu lực:</span> @Model.mDocsViewDetail.mDocsView.EffectStatusName </p>
                                                <p><span class="wg-info">Loại văn bản:</span>@Model.mDocsViewDetail.mDocsView.DocTypesText</p>
                                                <p><span class="wg-info">Lĩnh vực:</span>@Model.mDocsViewDetail.mDocsView.FieldsText</p>
                                            </div>
                                        </div>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                    @if (Model.ListRelateTypesBottom.HasValue())
                    {
                        foreach (var item in Model.ListRelateTypesBottom)
                        {
                            var listDocsRelatesBottom = Model.mDocsViewDetail.lDocRelates.GetDocsRelatesByRelateType(item.RelateTypeId, "Bottom");
                            bool isScroll = listDocsRelatesBottom.HasValue() && listDocsRelatesBottom.Count >= 4;
                            <div class="tab-conten-hd1">
                            <div id="cssmenu">
                                <ul>
                                    <li class="has-sub">
                                        <a href="#" class="title-blt">
                                            @(item.RelateTypeName) <span class="colora67942">(@(listDocsRelatesBottom.HasValue() ? listDocsRelatesBottom.Count : 0)) </span>
                                            <span class="xem_them_loto"></span>
                                        </a>
                                        <ul style="display: block;">
                                            <div class="content-cssmenu @(isScroll ? "content-scroll-luocdo" : string.Empty)" @(isScroll ? "style=height: 350px;" : string.Empty)>
                                                @if (listDocsRelatesBottom.HasValue())
                                                {
                                                    foreach (var docRelates in listDocsRelatesBottom)
                                                    {
                                                    <div class="rows item4 luocdo">
                                                        <a href="@(docRelates.DocGroupId == Constants.DocGroupIdVbkhongconoidung ? "#" : docRelates.DocUrl)" title="" id="properties-1-@docRelates.DocId" class="doc-properties @(docRelates.DocGroupId == Constants.DocGroupIdVbkhongconoidung ? "vb-khong-co-nd" : string.Empty)">@docRelates.DocName</a>
                                                    </div>
                                                    }
                                                }
                                            </div>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        }
                    }

                </div>

                <div class="col-xs-3">
                    @if (Model.ListRelateTypesRight.HasValue())
                    {
                        foreach (var item in Model.ListRelateTypesRight)
                        {
                            var listDocsRelatesRight = Model.mDocsViewDetail.lDocRelates.GetDocsRelatesByRelateType(item.RelateTypeId, "Right");
                            bool isScroll = listDocsRelatesRight.HasValue() && listDocsRelatesRight.Count >= 4;
                            <div class="tab-conten-hd1">
                            <div id="cssmenu">
                                <ul>
                                    <li class="has-sub">
                                        <a href="#" class="title-blt">
                                            @item.RelateTypeName <span class="colora67942">(@(listDocsRelatesRight.HasValue() ? listDocsRelatesRight.Count : 0)) </span>
                                            <span class="xem_them_loto"></span>
                                        </a>
                                        <ul style="display: block;">
                                            <div class="content-cssmenu @(isScroll ? "content-scroll-luocdo" : string.Empty)" @(isScroll ? "style=height: 350px;" : string.Empty)>
                                                @if (listDocsRelatesRight.HasValue())
                                                {
                                                    foreach (var docRelates in listDocsRelatesRight)
                                                    {
                                                    <div class="rows item4 luocdo">
                                                        <a href="@(docRelates.DocGroupId == Constants.DocGroupIdVbkhongconoidung ? "#" : docRelates.DocUrl)" title="" id="properties-1-@docRelates.DocId" class="doc-properties @(docRelates.DocGroupId == Constants.DocGroupIdVbkhongconoidung ? "vb-khong-co-nd" : string.Empty)">@docRelates.DocName</a>
                                                    </div>
                                                    }
                                                }
                                            </div>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
