<!-- footer-->
<footer class="footer">
    <div class="footer-item">
        <div class="fditem1"><i class="fa-footer"><img src="@Url.Content("~/assets/Mobile/Images/ic_local_phone_24px.png")" /></i>(024) 37833688</div>
        <div class="fditem1"><i class="fa-footer"><img src="@Url.Content("~/assets/Mobile/Images/famail-1.png")" /></i>lawdata@luatvietnam.vn</div>

    </div>
    <div class="footer-item">
        <div class="fditem1"><i class="fa-footer"><img src="@Url.Content("~/assets/Mobile/Images/ic_phone_android_24px.png")" /></i>016 9696 8989</div>
        <div class="fditem1" style="float: right; margin-right: 10px;">
            <a href="https://www.facebook.com/Luatvietnam.vn/"><img src="@Url.Content("~/assets/Mobile/Images/Group-4.png")" /></a>
            <a href="https://twitter.com/LuatVietNam_VN"><img src="@Url.Content("~/assets/Mobile/Images/Group-5.png")" /></a>
            <a href="https://plus.google.com/u/0/communities/113796949546534964680"><img src="@Url.Content("~/assets/Mobile/Images/Group-6.png")" /></a>
            <a href="#"><img src="@Url.Content("~/assets/Mobile/Images/Group-7.png")" /></a>
            <a rel="nofollow" class="add-item mda" href="//www.dmca.com/Protection/Status.aspx?ID=d3c31922-f131-4450-98b7-8c56b50687e1" target="_blank" title="DMCA.com Protection Status"> <img src="//images.dmca.com/Badges/dmca_protected_sml_120l.png?ID=d3c31922-f131-4450-98b7-8c56b50687e1" alt="DMCA.com Protection Status" /></a>
        </div>
    </div>
    <div class="footer-item" style="text-align: center">Bản quyền © 2000-2018 bởi LuatVietNam</div>
    @if (Request.Url.PathAndQuery == "/")
    { 
    <div class="footer-item" style="text-align: center">
        <a href="https://xoso.com.vn/xo-so-mien-bac/xsmb-p1.html" target="_blank">KQ XSMB</a>
    </div>
    }
</footer>
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 819551577;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/819551577/?guid=ON&amp;script= 0" />
    </div>
</noscript>
<!-- End-->
