@using ICSoft.CMSViewLib
@using LawsVN.App_GlobalResources
@using LawsVN.Library
@model LawsVN.Models.PartialLinkDocumentAttributeModel
@if (Model.mDocsView != null)
{
    <div class="post-time">
        @if (Model.mDocsView.LanguageId != LawsVnLanguages.AvailableLanguages[1].LanguageId)
        {
            <div class="post-time-item">@Resource.Promulgate:<span class="color2"> @Model.mDocsView.IssueYear.TrimmedOrDefault(Model.mDocsView.IssueDate.toString())</span></div>
            <div class="post-time-item">@Resource.Effect: 
                @if (!string.IsNullOrEmpty(Model.mDocsView.EffectStatusName) || !string.IsNullOrEmpty(Model.EffectStatusName))
                {
                    if (Extensions.IsAuthenticated && LawsUser.IsInRole("TC,NC"))
                    {
                        <span class="color2"> @Model.mDocsView.EffectStatusName.TrimmedOrDefault(Model.EffectStatusName.TrimmedOrDefault(string.Empty))</span>
                    }
                    else
                    {
                        <span class="color2 no-permission" title="@Html.Raw(Resource.NoPermission)">@Resource.Known</span>
                    }
                }
                else
                {
                    <span class="color2">@Resource.Updating</span>
                }
            </div>
        }
        else
        {
            <div class="post-time-item">@Resource.PromulgateEn: <span class="color2"> @Model.mDocsView.IssueYear.TrimmedOrDefault(Model.mDocsView.IssueDate.toString())</span>
            </div>
            <div class="post-time-item">@Resource.EffectEn: 
                @if (!string.IsNullOrEmpty(Model.mDocsView.EffectStatusName) || !string.IsNullOrEmpty(Model.EffectStatusName))
                {
                    if (Extensions.IsAuthenticated && LawsUser.IsInRole("TC,NC"))
                    {
                        <span class="color2"> @Model.mDocsView.EffectStatusName.TrimmedOrDefault(Model.EffectStatusName.TrimmedOrDefault(string.Empty))</span>
                    }
                    else
                    {
                        <span class="color2 no-permission" title="@Html.Raw(Resource.NoPermissionEn)">@Resource.KnownEn</span>
                    }
                }
                else
                {
                    <span class="color2">@Resource.UpdatingEn</span>
                }
            </div>
        }
    </div>
}