@using LawsVN.App_GlobalResources
@model LawsVN.Models.Account.ChangePasswordModel
<div class="from-thong-bao-3">
    <div class="content-thongbao">
        <div class="rows-thongbao center" style="font-size: 16px; font-weight: bold; text-transform: uppercase;">
            @Resource.SetANewPassword
        </div>
    @using (Ajax.BeginForm("ChangePassword", "Ajax", null, new AjaxOptions()
    {
        HttpMethod = "Post",
        OnBegin = "lawsVn.ajaxEvents.OnBegin",
        OnComplete = "lawsVn.ajaxEvents.OnComplete",
        OnSuccess = "lawsVn.ajaxEvents.LoginOnSuccess"
    }, new { id = "lawsVnChangePasswordForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="rows-thongbao">
            <span style="line-height: 30px; font-size: 12px; font-weight: bold;  margin-bottom: 10px;">@Resource.CurrentPassword:</span><br>
            @Html.TextBoxFor(m => m.CurrentPassword, new { @class = "text-tbao", type = "password" })
            @Html.ValidationMessageFor(m => m.CurrentPassword, "", new { @class = "text-danger " })
        </div>
        <div class="rows-thongbao">
            <span style="line-height: 30px; font-size: 12px; font-weight: bold;margin-bottom: 10px;">Mật khẩu mới:</span><br>
            @Html.TextBoxFor(m => m.Password, new { @class = "text-tbao", type = "password" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger " })
        </div>
        <div class="rows-thongbao">
            <span style="line-height: 30px; font-size: 12px; font-weight: bold; margin-bottom: 10px;">Nhập lại mật khẩu mới:</span><br>
            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "text-tbao", type = "password" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
        <div class="rows-thongbao center top5px">
            <button class="btn-thongbao1 xn"> @Resource.Confirm </button>
        </div>
    }
    </div>
</div>