@model LawsVN.Models.Account.ForgotPasswordModel
<div class="box-section">
    <div class="login-content">
        <div class="tie-login">Quên mật khẩu</div>
        <div class="form-login">
            <div class="item-login">
                Điền tên tài khoản để lấy lại mật khẩu
            </div>
        @using (Ajax.BeginForm("ForgotPassword", "Account", null, new AjaxOptions()
            {
                HttpMethod = "Post",
                OnBegin = "lawsVn.ajaxEvents.OnBegin",
                OnComplete = "lawsVn.ajaxEvents.OnComplete",
                OnSuccess = "lawsVn.ajaxEvents.LoginOnSuccess"
            }, new {id = "ForgotPasswordForm"}))
            {
            @Html.AntiForgeryToken()
                <div class="item-login">
                    @Html.TextBoxFor(m => m.CustomerName, new { @class = "input-text", placeholder = "Tên đăng nhập..." })
                    @Html.ValidationMessageFor(m => m.CustomerName, "", new { @class = "text-danger" })
                </div>
            <div class="item-login">
                <div class="colx3" style="padding-top: 5px;">
                    <img class="captcha" alt="captcha" src="@Url.Action("CaptchaImage", "Home", new {id = Guid.NewGuid(), prefix = "ForgotPassword"})">
                </div>
                <div class="colx31">
                    @Html.TextBoxFor(m => m.ForgotPasswordCaptchaCode, new { @class = "input-text", placeholder = "Nhập mã bảo mật..." })
                    @Html.ValidationMessageFor(m => m.ForgotPasswordCaptchaCode, "", new { @class = "text-danger" })
                </div>
            </div>
                <div class="item-center">
                    <button class="btn1">Gửi</button>
                    <a href="#" class="btn2 btn-close">Hủy</a>
                </div>
            }
        </div>
    </div>
</div>

