@model LawsVN.Models.Account.SendQuestionsModel

    <div class="wrapper">
            <div class="content-popup-post">
                <div class="tie-hoidap">Soạn câu hỏi</div>
                <div class="cat-box-content">
                    @using (Ajax.BeginForm("SendQuestions", "Ajax", null, new AjaxOptions()
                    {
                        HttpMethod = "Post",
                        OnBegin = "lawsVn.ajaxEvents.OnBegin",
                        OnComplete = "lawsVn.ajaxEvents.OnComplete",
                        OnSuccess = "lawsVn.ajaxEvents.LoginOnSuccess"
                    }, new { id = "SendQuestionForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="item-login">
                            @Html.TextBoxFor(m => m.FullName, new { @class = "input-text", placeholder = "Họ và tên" })
                            @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger"})
                        </div>
                        <div class="item-login">
                            @Html.TextBoxFor(m => m.Email, new { @class = "input-text", placeholder = "Địa chỉ Email *" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="item-login">
                            @Html.TextBoxFor(m => m.Mobile, new { @class = "input-text", placeholder = "Điện thoại *" })
                            @Html.ValidationMessageFor(m => m.Mobile, "", new { @class = "text-danger" })
                        </div>
                        <div class="item-login">
                            @Html.TextAreaFor(m => m.Questions, new { @class = "input-text textarea color3", placeholder = "Nhập nội dung hỏi đáp" })
                            @Html.ValidationMessageFor(m => m.Questions, "", new { @class = "text-danger"})
                        </div>
                        <div class="item-center">
                            <button class="btn1">GỬI</button>
                            <button class="btn2 btn-reset">NHẬP LẠI</button>
                        </div>
                    }
                </div>
            </div>
    </div>


