@using LawsVN.Models
@using ICSoft.CMSLib
@using LawsVN.Library
@model ServiceModel
@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}
@section SeoHeader
{
    <h1 style="text-indent: -20000px;position: absolute;">@Html.Raw(Model.SeoHeader.TrimmedOrDefault("Dịch vụ Luật Việt Nam").ToString())</h1>
}
<div class="breadcrumb">
    <a href="/" class="breadcrumb-item">Trang chủ </a>»
    <span class="breadcrumb-item color1">Dịch vụ</span>
</div>

<section class="box-section">
    <div class="title2" style="background: #8a8a8a;">
        <h2 class="title-goi">Gói tra cứu miễn phí</h2>
    </div>
    <!-- content-->
    <div class="cat-box-content">
        <div class="content-dichvu">
            <p>• Tra cứu toàn bộ văn bản luật ban hành từ 1945 đến nay (tiếng Việt)</p>
            <p>• Xem toàn nội dung văn bản</p>
            <p>• Xem Thuộc tính văn bản</p>
            <p>• Tra cứu dữ liệu văn bản theo Lĩnh vực</p>
            <p>• Tra cứu dữ liệu văn bản theo Bộ, Ngành, Địa phương</p>
            <p>• Tin tức pháp luật mới</p>
            <p>• Tra cứu Thuật ngữ pháp lý</p>
            <p>• Tra cứu dữ liệu văn bản hợp nhất</p>
            <p>• Tải văn bản tiếng Việt</p>
            <p>• Nhận bản tin văn bản qua email</p>
            <p>• Xem tin vắn chính sách mới</p>
            <p>• Tra cứu Danh mục luật sư</p>
            <p>• Tra cứu Thư viện câu hỏi tư vấn pháp luật</p>
            <p>• Được hỗ trợ tra cứu trực tuyến</p>
        </div>
        <div class="item-bang-gia">
            <a href="@(CmsConstants.ROOT_PATH)goi-dich-vu/goi-tra-cuu-mien-phi.html" title="Gói tra cứu miễn phí" class="btn-bang-gia2">Đăng ký</a>
            @*<a href="#" data-id="@Constants.ServiceIdTraCuuMienPhi" class="btn-bang-gia2 dang-ky-dv">Đăng ký</a>*@
        </div>
    </div>
    <!-- End-->
</section>

<section class="box-section">
    <div class="title2" style="background: #a67942;">
        <h2 class="title-goi">Gói tra cứu tiêu chuẩn</h2>
    </div>

    <!-- content-->
    <div class="cat-box-content">
        <div class="content-dichvu">
            <p>
                <strong>Ngoài các quyền lợi của gói: <a href="@(CmsConstants.ROOT_PATH)goi-dich-vu/goi-tra-cuu-mien-phi.html"><span style="color: #a67942">Tra cứu Miễn phí</span></a> gói<a href="@(CmsConstants.ROOT_PATH)goi-dich-vu/goi-tra-cuu-tieu-chuan.html"><span style="color: #a67942"> Tra cứu Tiêu chuẩn</span></a> còn có thêm:</strong>
            </p>
            <p>• Quản lý văn bản theo nhu cầu cá nhân: Sử dụng giao diện cá nhân riêng biệt để tra cứu, cập nhật văn bản mới, tin pháp luật, TCVN, bản tin văn bản… theo từng lĩnh vực quan tâm.</p>
            <p>• Tra cứu toàn bộ bản dịch VB tiếng Anh tham khảo</p>
            <p>• Xem lược đồ văn bản để biết vị trí văn bản trong mối quan hệ với các văn bản liên quan</p>
            <p>• Xem văn bản liên quan nội dung</p>
            <p>• Dẫn chiếu/Trích dẫn nội dung văn bản liên quan</p>
            <p>• Tải văn bản tiếng Việt (.doc, .pdf)</p>

            <p>• Tải bản dịch tiếng Anh tham khảo (.doc, .pdf)</p>

            <p>• Biết được Thời điểm áp dụng</p>

            <p>• Tình trạng Hiệu lực (Còn hiệu lực, Hết hiệu lực, Đã sửa đổi, Chưa xác định…)</p>

            <p>• Thông báo khi văn bản sửa đổi, hết hiệu lực.</p>

            <p>• Các văn bản thay thế, sửa đổi, bổ sung</p>

            <p>• Tra cứu Tiêu chuẩn Việt Nam</p>

            <p>• Nhận bản tin theo lĩnh vực văn bản quan tâm / bản tin tổng hợp / bản tin hiệu lực.</p>

        </div>
        <div class="item-bang-gia">
            <div id="btnPriceTC" class="btn-bang-gia1">Bảng giá</div>
            @*<a href="#" data-id="@Constants.ServiceIdTraCuuTieuChuan" class="btn-bang-gia2 dang-ky-dv">Đăng ký</a>*@
            <a href="@(CmsConstants.ROOT_PATH)goi-dich-vu/goi-tra-cuu-tieu-chuan.html" title="Gói tra cứu tiêu chuẩn" class="btn-bang-gia2">Đăng ký</a>
        </div>
        <div class="item-bang-gia" id="PriceTC" style="display:none;">
            <table class="table-bordered">
                <tbody>
                    <tr class="dvbgf9f9f9" style="line-height: 18px; font-size: 12px">
                        <td class="col3dv"><strong>Gói tra cứu</strong></td>
                        <td class="col3dv"><strong>Số người dùng cùng thời điểm</strong></td>
                        <td class="col3dv right"><strong>Giá / Tháng</strong></td>
                    </tr>
                    <tr>
                        <td class="col3dv ">Tiêu chuẩn cá nhân</td>
                        <td class="col3dv">1-3 người</td>
                        <td class="col3dv right">60.000</td>
                    </tr>
                    <tr class="dvbgf9f9f9">
                        <td class="col3dv ">Tiêu chuẩn 5</td>
                        <td class="col3dv">5 người</td>
                        <td class="col3dv right">250.000</td>
                    </tr>
                    <tr>
                        <td class="col3dv ">Tiêu chuẩn 10</td>
                        <td class="col3dv">10 người</td>
                        <td class="col3dv right">500.000</td>
                    </tr>
                    <tr class="dvbgf9f9f9">
                        <td class="col3dv ">Tiêu chuẩn 20</td>
                        <td class="col3dv">20 người</td>
                        <td class="col3dv right">800.000</td>
                    </tr>
                    <tr>
                        <td class="col3dv">Tiêu chuẩn 50</td>
                        <td class="col3dv">50 người</td>
                        <td class="col3dv right">1.500.000</td>
                    </tr>
                </tbody>
            </table>
            <p style="color: #a67942; font-style: italic; line-height: 24px; font-size: 12px; padding-top: 5px;">
                * Các gói thời hạn thuê bao: 06 tháng, 12 tháng, 24 tháng, 36 tháng, 48 tháng, 60 tháng
                <br>
                * Giá trên chưa bao gồm VAT
            </p>
        </div>
    </div>
    <!-- End-->
</section>
<section class="box-section">
    <div class="title2" style="background: #e89b14;">
        <h2 class="title-goi">Gói tra cứu tiếng anh</h2>
    </div>
    <!-- content-->
    <div class="cat-box-content">
        <div class="content-dichvu">
            <p><strong>Có các quyền lợi tra cứu dữ liệu bản dịch tiếng Anh</strong>, bao gồm:</p>
            <p>• Tra cứu toàn bộ bản dịch văn bản tiếng Anh tham khảo</p>
            <p>• Tải bản dịch tiếng Anh tham khảo (.doc, .pdf)</p>
            <p>• Tra cứu toàn bộ bản dịch văn bản Công báo tiếng Anh.</p>
            <p>• Tải bản dịch Công báo tiếng Anh (.pdf)</p>
            <p>• Nhận bản tin văn bản tiếng Anh</p>
        </div>
        <div class="item-bang-gia">
            <div id="btnPriceTA" class="btn-bang-gia1">Bảng giá</div>
            @*<a href="#" data-id="@Constants.ServiceIdTraCuuTiengAnh" class="btn-bang-gia2 dang-ky-dv">Đăng ký</a>*@
            <a href="@(CmsConstants.ROOT_PATH)goi-dich-vu/goi-tra-cuu-tieng-anh.html" title="Gói tra cứu tiếng Anh" class="btn-bang-gia2">Đăng ký</a>
        </div>
        <div class="item-bang-gia" id="PriceTA" style="display:none;">
            <table class="table-bordered">
                <tbody>
                    <tr class="dvbgf9f9f9" style="line-height: 18px;font-size: 12px">
                        <td class="col3dv "><strong>Gói tra cứu</strong></td>
                        <td class="col35dv"><strong>Số người dùng cùng thời điểm</strong></td>
                        <td class="col3dv right"><strong>Giá / Tháng</strong></td>
                    </tr>
                    <tr>
                        <td class="col3dv ">Single</td>
                        <td class="col3dv ">1 user</td>
                        <td class="col3dv right">180.000</td>
                    </tr>
                    <tr class="dvbgf9f9f9">
                        <td class="col3dv">Multi-user 3</td>
                        <td class="col3dv ">3 users</td>
                        <td class="col3dv right">450.000</td>
                    </tr>
                    <tr>
                        <td class="col3dv ">Multi-user 5</td>
                        <td class="col3dv ">5 users</td>
                        <td class="col3dv right">800.000</td>
                    </tr>
                    <tr class="dvbgf9f9f9">
                        <td class="col3dv ">Multi-user 10</td>
                        <td class="col3dv ">10 users</td>
                        <td class="col3dv right">1.500.000</td>
                    </tr>
                    <tr>
                        <td class="col3dv">Multi-user 20</td>
                        <td class="col3dv ">20 users</td>
                        <td class="col3dv right">2.000.000</td>
                    </tr>
                    <tr>
                        <td class="col3dv">Multi-user 50</td>
                        <td class="col3dv ">50 users</td>
                        <td class="col3dv right">3.000.000</td>
                    </tr>
                </tbody>
            </table>
            <p style="color: #a67942; font-style: italic; line-height: 24px; font-size: 12px;padding-top: 5px;">
                * Các gói thời hạn thuê bao: 06 tháng, 12 tháng, 24 tháng, 36 tháng, 48 tháng, 60 tháng
                <br>
                * Giá trên chưa bao gồm VAT
            </p>
        </div>
    </div>
    <!-- End-->
</section>
<section class="box-section">
    <div class="title2" style="background: #e87314;">
        <h2 class="title-goi">Gói tra cứu nâng cao</h2>
    </div>
    <!-- content-->
    <div class="cat-box-content">
        <div class="content-dichvu">

            <p><strong>Bao gồm mọi quyền lợi, tiện ích của 2 gói</strong>:</p>
            <p>• Gói <a href="@(CmsConstants.ROOT_PATH)goi-dich-vu/goi-tra-cuu-tieu-chuan.html"><strong style="color: #a67942">Tra cứu Tiêu chuẩn</strong></a>; </p>
            <p>• Gói <a href="@(CmsConstants.ROOT_PATH)goi-dich-vu/goi-tra-cuu-tieng-anh.html"><strong style="color: #a67942"> Tra cứu Tiếng Anh</strong></a>; </p>
            <p>Ngoài ra, gói <a href="@(CmsConstants.ROOT_PATH)goi-dich-vu/goi-tra-cuu-nang-cao.html"><strong style="color: #a67942"> Tra cứu Nâng cao</strong></a> còn có thêm các quyền lợi sau:</p>
            <p>• Xem mọi văn bản và sử dụng mọi tiện ích trên hai trang tra cứu văn bản tiếng Việt, tiếng Anh của Luật Việt Nam.</p>
            <p>• Hỗ trợ tìm kiếm văn bản theo yêu cầu. Và nhiều ưu đã khác</p>

        </div>
        <div class="item-bang-gia">
            <div id="btnPriceNC" class="btn-bang-gia1">Bảng giá</div>
            @*<a href="#" data-id="@Constants.ServiceIdTraCuuNangCao" class="btn-bang-gia2 dang-ky-dv">Đăng ký</a>*@
            <a href="@(CmsConstants.ROOT_PATH)goi-dich-vu/goi-tra-cuu-nang-cao.html" title="Gói tra cứu nâng cao" class="btn-bang-gia2">Đăng ký</a>
        </div>
        <div class="item-bang-gia" id="PriceNC" style="display:none;"style="display:none;">
            <table class="table-bordered">
                <tbody>
                    <tr class="dvbgf9f9f9" style="line-height: 18px;font-size: 12px">
                        <td class="col3dv "><strong>Gói tra cứu</strong></td>
                        <td class="col35dv"><strong>Số người dùng cùng thời điểm</strong></td>
                        <td class="col3dv right"><strong>Giá / Tháng</strong></td>
                    </tr>
                    <tr>
                        <td class="col3dv ">Nâng cao</td>
                        <td class="col3dv ">1-3 người</td>
                        <td class="col3dv right">330.000</td>
                    </tr>
                    <tr class="dvbgf9f9f9">
                        <td class="col3dv ">Nâng cao 5</td>
                        <td class="col3dv ">5 người</td>
                        <td class="col3dv right">1.000.000</td>
                    </tr>
                    <tr>
                        <td class="col3dv ">Nâng cao 10</td>
                        <td class="col3dv ">10 người</td>
                        <td class="col3dv right">1.800.000</td>
                    </tr>
                    <tr class="dvbgf9f9f9">
                        <td class="col3dv ">Nâng cao 20</td>
                        <td class="col3dv ">20 người</td>
                        <td class="col3dv right">2.500.000</td>
                    </tr>
                    <tr>
                        <td class="col3dv">Nâng cao 50</td>
                        <td class="col3dv ">50 người</td>
                        <td class="col3dv right">4.000.000</td>
                    </tr>
                </tbody>
            </table>
            <p style="color: #a67942; font-style: italic; line-height: 24px; font-size: 12px;padding-top: 5px;">
                * Các gói thời hạn thuê bao: 06 tháng, 12 tháng, 24 tháng, 36 tháng, 48 tháng, 60 tháng
                <br>
                * Giá trên chưa bao gồm VAT
            </p>
        </div>
    </div>
    <!-- End-->
</section>

<div class="box-napthe">
    <img src="@Url.Content("~/assets/images/nap-the-luatvn.png")" /><a href="#" data-toggle-target="#ArticlePaymentRegulations" class="btn-nap-the-luatvn">Nạp thẻ</a>
    <div class="nav-bottom">
        @section FooterSection{
            <script>
                $(document).ready(function () {
                    $("#btnPriceTC").click(function () {
                        $("#PriceTC").slideToggle( "slow" );
                    });
                    $("#btnPriceTA").click(function () {
                        $("#PriceTA").slideToggle("slow");
                    });
                    $("#btnPriceNC").click(function () {
                        $("#PriceNC").slideToggle("slow");
                    });
                });
            </script>
        }
    </div>
</div>