@using LawsVN.Library
@model LawsVN.Models.FooterModel
@if (Model.ListMenuItemsViewParent.HasValue())
{
    <div class="nav-bottom">
        <div class="cat-box-content">
            <div class="vien-btom m12"></div>
            <div class="cat-box-content">
                @for (int index = 0; index < Model.ListMenuItemsViewParent.Count && index < 2; index++)
                {
                    var menuItemViewParent = Model.ListMenuItemsViewParent[index];
                    <div class="col2-bottom">
                        <ul>
                            <li class="item-bottom"><strong>@menuItemViewParent.ItemName</strong></li>
                            @foreach (var item in Model.ListMenuItemsView)
                            {
                                if (item.ParentItemId != menuItemViewParent.MenuItemId)
                                {
                                    continue;
                                }
                                <li class="item-bottom-2"><a href="@item.GetUrl()"><i class="fa-m"></i>@item.ItemName</a></li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
@if (Model.ListMenuItemsViewParent.Count > 2)
{
    <div class="cat-box-content">
        <div class="tiedv">Dịch vụ</div>
        <div class="vien-btom"></div>
        @for (int index = 2; index < Model.ListMenuItemsViewParent.Count; index++)
        {
            var menuItemViewParent = Model.ListMenuItemsViewParent[index];
            <div class="cat-box-content">
                @foreach (var item in Model.ListMenuItemsView)
                {
                    if (item.ParentItemId != menuItemViewParent.MenuItemId)
                    {
                        continue;
                    }
                    <div class="col2-bottom">
                        <ul>
                            <li class="item-bottom"><a href="@item.GetUrl()"><i class="fa-m"></i>@item.ItemName</a></li>
                            @foreach (var itemChild in Model.ListMenuItemsView)
                            {
                                if (itemChild.ParentItemId != item.MenuItemId)
                                {
                                    continue;
                                }
                                <li class="item-bottom"><a href="@itemChild.GetUrl()"><i class="fa-dot"></i>@itemChild.ItemName</a></li>
                            }
                        </ul>
                    </div>
                }
            </div>
        }
    </div>
}
    </div>
}