@using ICSoft.CMSLib
@using ICSoft.LawDocsLib
@using LawsVN.App_GlobalResources
@using LawsVN.Library
@using LawsVN.Models.Docs
@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}
@model DocsViewDetailModel
@{Html.RenderAction("PartialFullSearchHomeMobile", "Shared");}
<div class="breadcrumb">
    <a href="@CmsConstants.ROOT_PATH" class="breadcrumb-item">@Resource.HomePage </a>
    @if (Model.mDocsViewDetail.lFieldDisplays.HasValue())
    {
        <span> »</span>
        for (int index = 0; index < Model.mDocsViewDetail.lFieldDisplays.Count; index++)
        {
            FieldDisplays mFieldDisplays = Model.mDocsViewDetail.lFieldDisplays[index];
            if (index == 0)
            {
                <a href="@mFieldDisplays.GetUrl(Model.mDocsViewDetail.mDocsView.DocGroupId)" title="@mFieldDisplays.FieldName" class="breadcrumb-item color1">@mFieldDisplays.FieldName</a>
            }
            else
            {
                <span>, </span>
                <a href="@mFieldDisplays.GetUrl(Model.mDocsViewDetail.mDocsView.DocGroupId)" title="@mFieldDisplays.FieldName" class="breadcrumb-item color1">@mFieldDisplays.FieldName</a>
            }
        }
    }
</div>

<article class="post-single">
    <h1 class="post-title-single">@Html.Raw(Model.mDocsViewDetail.mDocsView.DocName.ToString())</h1>
    <div class="tab-page">
        <a class="tab-page-item" href="@Model.mDocsViewDetail.mDocsView.GetDocUrl()" title="@Resource.Properties">@Resource.Properties</a>
        <a class="tab-page-item" href="@Model.mDocsViewDetail.mDocsView.GetDocUrl("noidung")" title="@Resource.Content">@Resource.Content</a>
        <a class="tab-page-item active" href="@Model.mDocsViewDetail.mDocsView.GetDocUrl("lienquan")" title="@Resource.Relate">@Resource.Relate</a>
        <a class="tab-page-item" href="@Model.mDocsViewDetail.mDocsView.GetDocUrl("hieuluc")" title="@Resource.Effect">@Resource.Effect</a>
        <a class="tab-page-item" href="@Model.mDocsViewDetail.mDocsView.GetDocUrl("luocdo")" title="@Resource.Diagram">@Resource.Diagram</a>
        <a class="tab-page-item" href="@Model.mDocsViewDetail.mDocsView.GetDocUrl("taive")" title="@Resource.DownLoad">@Resource.DownLoad</a>
    </div>
    @{ Html.RenderAction("PartialPermissionDocRelateMobile", "Shared", new { docModel = Model, languageId = Model.mDocsViewDetail.mDocsView.LanguageId }); }
</article>
@{Html.RenderAction("PartialDocOthersMobile", "Shared", new { model = new DocOthersModel { ListDocsView = Model.mDocsViewDetail.lDocOthers } });}
@Html.Partial("~/Views/Shared/Mobile/PartialContentViewedMobile.cshtml")

@section FooterSection
{
    <script type="text/javascript">
        $('#boxContentViewed').lawsVnContentViewed({
            doc: {
                id: '@Model.mDocsViewDetail.mDocsView.DocId',
                name: '@Model.mDocsViewDetail.mDocsView.TruncateDocName(45)',
                title: '@Model.mDocsViewDetail.mDocsView.DocName',
                summary: '',
                effect: '@Model.mDocsViewDetail.mDocsView.EffectStatusName',
                datetime: '@Model.mDocsViewDetail.mDocsView.IssueDate.toString()',
                url: '@Model.mDocsViewDetail.mDocsView.GetDocUrl()',
                image: '@Constants.NoImageUrl'
            }
        });
    </script>
}
