@using VanBanLuat.Librarys
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model VanBanLuat.Models.AccountModel.ConfirmResetPasswordModel
<div class="breadcrumb">
    <a class="breadcrumb-item" href="@Constants.ROOT_PATH" title="Trang chủ">Trang chủ</a> / 
    <span class="breadcrumb-item xanh">Lấy lại mật khẩu</span>
</div>
<div class="title-from">
    <h1 class="title-from-cat">Lấy lại mật khẩu</h1>
    <p style="color: #555;">Hướng dẫn đổi mật khẩu sẽ được gửi vào email của quý khách</p>
</div>

<div class="content-dk">
    <div class="p20px">	
    @if (Model.CustomerId > 0 && !string.IsNullOrEmpty(Model.ConfirmCode))
    {
        <div class="w300">
            @using (Ajax.BeginForm("ConfirmResetPassword", "Account", null, new AjaxOptions()
            {
                HttpMethod = "Post",
                OnBegin = "vbluat.ajaxEvents.OnBegin('Đổi mật khẩu')",
                OnSuccess = "vbluat.ajaxEvents.OnSuccessAlert(data, status, xhr)",
                OnFailure = "vbluat.ajaxEvents.OnFailure"
            }))
            {
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Password, new { @class = "input-text ms1 font14", type = "password", placeholder="Mật khẩu mới *" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "input-text ms1 font14", type = "password", placeholder="Nhập lại mật khẩu mới *" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
                @Html.HiddenFor(m => m.CustomerId)
                @Html.HiddenFor(m => m.ConfirmCode)
                <div class="rows-dk">
                    <center class="form-group">
                        <button class="btn-default guingay">Đổi mật khẩu</button>
                    </center>
                </div>
            }
        </div>
    }
    else
    {
        <div class="rows-dk">
            <div class="title-from">
                Thông tin không chính xác.
            </div>
        </div>
    }
    </div>
</div>
