@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}
@using ICSoft.CMSLib
@using ICSoft.CMSViewLib
@using LawsVN.App_GlobalResources
@using LawsVN.Library
@using sms.utils
@model LawsVN.Models.ArticleViewDetailModel
<div class="box-search">
    <div class="search-input">
        @using (Html.BeginForm("Search", "News", FormMethod.Get))
        {
            <input class="search-q" type="text" name="keyword" placeholder="Nhập nội dung cần tìm ...">
            <button class="btn-isearch"></button>
        }
    </div>
</div>
<div class="breadcrumb">
    <a href="@CmsConstants.ROOT_PATH" class="breadcrumb-item">Trang chủ </a>»
    <a href="@Model.m_ArticlesViewDetail.mCategoriesView.GetCategoryUrl()" class="breadcrumb-item">@Model.m_ArticlesViewDetail.mCategoriesView.CategoryDesc</a> »
	<span class="breadcrumb-item color1">@Model.m_ArticlesViewDetail.mArticlesView.Title.StripTags().Truncate(160)</span>
</div>

<article class="post-single" id="docPrint">
    <div style="width:100%;">
        <div class="post-time-single">@DateTimeUtil.GetLongDateTime(Model.m_ArticlesViewDetail.mArticlesView.PublishTime)</div>
    </div>
    <h1 class="post-title-single1">@Html.Raw(Model.m_ArticlesViewDetail.mArticlesView.Title.ToString())</h1>
    <div class="socal-entry">
        <div class="left-socal">
            <a href="javascript:lawsVn.FontZoom(-1)"><img src="@Url.Content("~/assets/mobile/images/A-.png")" /></a>
            <a href="javascript:lawsVn.FontZoom(1)"><img src="@Url.Content("~/assets/mobile/images/A.png")" /></a>
        </div>
        <div class="right-zom vb" style="padding-top: 6px;">
            <a href="#" class="socialShare" data-social="facebook"><img src="@Url.Content("~/assets/mobile/images/facenew.png")"></a>
            <a href="#" class="socialShare" data-social="twitter" style="padding-left: 5px;"><img src="@Url.Content("~/assets/mobile/images/twiternew.png")"></a>
            <a href="#" class="socialShare" data-social="gplus" style="padding-left: 5px;"><img src="@Url.Content("~/assets/mobile/images/googlenew.png")"></a>
            <a href="#" style="padding-left: 5px;" class="docPrint"><img src="@Url.Content("~/assets/mobile/images/printnew.png")"></a>
            <a href="#" style="padding-left: 5px;" data-url="@Model.m_ArticlesViewDetail.mArticlesView.GetArticleUrl()" class="doc-send-mail"><img src="@Url.Content("~/assets/mobile/images/emailnew.png")"></a>
        </div>
    </div>
    <div class="entry doc-content-new">
        @Html.Raw(Model.m_ArticlesViewDetail.mArticlesView.ArticleContent)
    </div>
</article>
@if (Model.m_ArticlesViewDetail.mArticlesView.lTagsView.HasValue())
{
    <div class="post-tag">
        <span style="float: left; font-weight: bold; margin-right: 10px;">
            <img src="@Url.Content("~/assets/images/icon-tag.png")"/>
            Chủ đề:</span>
            @foreach (var tagsView in Model.m_ArticlesViewDetail.mArticlesView.lTagsView)
            {
                <a href="@tagsView.TagName.TagsNameGetUrl(tagsView.TagId)" title="@tagsView" class="tag-item">@tagsView.TagName.Trim()</a>
            }
    </div>
}
@if (Model.m_ArticlesViewDetail.lArticlesRelate.HasValue())
{
    <section class="box-section">
        <div class="title2">
            <h2 class="title-cat2 vien">Tin liên quan</h2>
        </div>
        <div class="cat-box-content">
            @for (int i = 0; i < Model.m_ArticlesViewDetail.lArticlesRelate.Count && i < Constants.RowAmount5; i++)
            {
                var articleView = Model.m_ArticlesViewDetail.lArticlesRelate[i];
                <div class="first-news" style="margin-bottom: 5px;">
                        <div class="post-thumb">
                            <a href="@articleView.GetArticleUrl()" class="thumb125x70"><img src="@articleView.GetImageUrl_Mobile()"/></a>
                        </div>
                        <div class="sapo">
                            <h3 class="post-title-bold"><a href="@articleView.GetArticleUrl()">@articleView.Title</a></h3>
                        </div>
                    </div>
            }
        </div>
    </section>
}
@if (Model.m_ArticlesViewDetail.lArticlesOtherNewest.HasValue())
{
    <div class="sl-section" style="border-top: none;">
        <div class="title2">
            <h2 class="title-cat2 vien">Tin mới</h2>
        </div>
        <div class="cat-box-content">
            @foreach (var articleView in Model.m_ArticlesViewDetail.lArticlesOtherNewest)
            {
                if (articleView.ArticleId != Model.m_ArticlesViewDetail.mArticlesView.ArticleId)
                {
                    <div class="first-news" style="margin-bottom: 5px;">
                        <div class="post-thumb">
                            <a href="@articleView.GetArticleUrl()" class="thumb125x70"><img src="@articleView.GetImageUrl_Mobile()"/></a>
                        </div>
                        <div class="sapo">
                            <h3 class="post-title-bold"><a href="@articleView.GetArticleUrl()">@articleView.Title</a></h3>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
}
@{Html.RenderAction("PartialBoxTieuDiemMobile", "Shared", new { model = Model.m_ArticlesViewDetail.mCategoriesView.CategoryId });}
@{Html.RenderAction("PartialBoxNewDocumentsMobile", "Shared");}
@if (Model.m_ArticlesViewDetail.lArticlesOther.HasValue())
{
    <div class="sl-section" style="border-top: none;">
        <div class="title2">
            <h2 class="title-cat2 vien">Tin cũ hơn</h2>
        </div>
        <div class="cat-box-content">
            @for (var index = 0; index < Model.m_ArticlesViewDetail.lArticlesOther.Count && index < Constants.RowAmount5; index++)
            {
                var articleView = Model.m_ArticlesViewDetail.lArticlesOther[index];
                <div class="first-news" style="margin-bottom: 5px;">
                    <div class="post-thumb">
                        <a href="@articleView.GetArticleUrl()" class="thumb125x70">
                            <img src="@articleView.GetImageUrl_Mobile()"/>
                        </a>
                    </div>
                    <div class="sapo">
                        <h3 class="post-title-bold">
                            <a href="@articleView.GetArticleUrl()">@articleView.Title</a>
                        </h3>
                    </div>
                </div>
            }
        </div>
    </div>
}
<section class="box-section">
    @Html.Partial("~/Views/Shared/Mobile/PartialContentViewedMobile.cshtml")
</section>
@section FooterSection
{
    <script type="text/javascript">
        lawsVn.logs.articleLogs(@Model.m_ArticlesViewDetail.mArticlesView.ArticleId,@Model.m_ArticlesViewDetail.mArticlesView.CategoryId);
        $('#boxContentViewed').lawsVnContentViewed({
            doc: {
                id: '@Model.m_ArticlesViewDetail.mArticlesView.ArticleId'
                , name: '@Model.m_ArticlesViewDetail.mArticlesView.TruncateTitle(45)'
                , title: '@Model.m_ArticlesViewDetail.mArticlesView.Title'
                , summary: ''
                , datetime: '@Model.m_ArticlesViewDetail.mArticlesView.PublishTime.toString()'
                , url: '@Model.m_ArticlesViewDetail.mArticlesView.GetArticleUrl()'
                , image: '@Model.m_ArticlesViewDetail.mArticlesView.GetImageUrl_Mobile()'
            }
        });
    </script>
}