@using ICSoft.CMSLib
@using LawsVN.Library
@using ICSoft.CMSViewLib
@model List<DocsView>
@if (Model.HasValue())
{
<div class="box-tieudiem">
    <div class="wg-tieudiem">
        <div class="widget-top-td">
            <h3 class="widget-title wgct" style="font-weight: bold;"> Văn bản mới </h3>
        </div>
        <div class="widget-container-td" style="padding-bottom: 0;">
            <ul class="ultieudiem">
                @for (var index = 0; index < Model.Count; index++)
                {
                    var docView = Model[index];
                    <li class="p10td" @(index == 0 ? "style=padding-top:10px;" : string.Empty)>
                        <a href="@docView.GetDocUrl()" title="@docView.DocName.StripTags()" class="post-title td">
                            <i class="icon-tieudiem"></i>@docView.H1Tag.TrimmedOrDefault(docView.DocName)
                        </a>
                    </li>
                }
                <div class="more">
                    <a href="@(CmsConstants.ROOT_PATH)van-ban-moi.html" title="Xem tiếp" class="more-link" style="margin: 0 10px 5px 10px;">
                        Xem tiếp <img alt="alt" src="@Url.Content("~/assets/images/more-link-fa.png")"></a>
                </div>
            </ul>
        </div>
    </div>
</div>
}