@model LawsVN.Models.Account.PromotionCodeCheckModel
@using (Ajax.BeginForm("PromotionCodeCheck", "Ajax", null, new AjaxOptions
{
    HttpMethod = "Post"
    ,OnBegin = "lawsVn.ajaxEvents.OnBegin"
    ,OnComplete = "lawsVn.ajaxEvents.OnComplete"
    ,OnSuccess = "lawsVn.ajaxEvents.PromotionCodeCheckOnSuccess"
}, new { id = "PromotionCodeCheckForm" }))
{
    @Html.AntiForgeryToken()
    <label class="col-sm-item normal">Mã giảm giá (nếu có):</label>
    <div class="col-sm-2">
        @Html.TextBoxFor(m => m.PromotionCode, new { @class = "input-step", placeholder = "Nhập mã và bấm kiểm tra", style="color: #888888; font-style: italic; width: 273px" })
        @Html.ValidationMessageFor(m => m.PromotionCode, "", new { @class = "text-danger" })
        @Html.HiddenFor(m=>m.ServicePackageParentId)
        @Html.ValidationMessageFor(m => m.ServicePackageParentId, "", new { @class = "text-danger" })<br />
        @Html.HiddenFor(m=>m.ServicePackageId)
        @Html.ValidationMessageFor(m => m.ServicePackageId, "", new { @class = "text-danger" })
    </div>
    <button class="btn-checkinput" style="background: #49c5c7; margin-left: 40px;">Kiểm tra</button>
    <div id="promotionCodeCheckResult" class="rows"></div>
}