@using ICSoft.CMSLib
@using LawsVN.App_GlobalResources
<div class="widget">
    <div class="widget-top">
        <h3><span class="title-widget">@Resource.ManualInstruction</span></h3>
    </div>
    <div class="widget-rows">
        <a href="@(CmsConstants.ROOT_PATH)huong-dan/tai-khoan.html" title="Hướng dẫn đăng ký tài khoản" class="widget-rows-item dk1">Đăng ký tài khoản</a>
    </div>
    <div class="widget-rows">
        <a href="@(CmsConstants.ROOT_PATH)huong-dan/thue-bao-thanh-toan.html" title="Hướng dẫn đăng ký thuê bao" class="widget-rows-item dk2">Đăng ký thuê bao</a>
    </div>
    <div class="widget-rows">
        <a href="@(CmsConstants.ROOT_PATH)huong-dan/thue-bao-thanh-toan.html" title="Hướng dẫn thanh toán" class="widget-rows-item dk3">Thanh toán</a>
    </div>
    <div class="widget-rows">
        <a href="@(CmsConstants.ROOT_PATH)huong-dan/huong-dan-tra-cuu.html" title="Hướng dẫn tra cứu văn bản" class="widget-rows-item dk4">Tra cứu văn bản</a>
    </div>
</div>
