@using LawsVNEN.App_GlobalResources
@model LawsVNEN.Models.Account.AccountProfileModel
@using (Ajax.BeginForm("EditExtensionServicePackagesAccountProfile", "Ajax", null
, new AjaxOptions
{
    HttpMethod = "Post",
    OnBegin = "lawsVn.ajaxEvents.OnBegin",
    OnComplete = "lawsVn.ajaxEvents.OnComplete",
    OnSuccess = "lawsVn.ajaxEvents.LoginOnSuccessful"
}, new { id = "RenewalOfServiceEditAccountProfileForm" }
))
{
    @Html.AntiForgeryToken()
    <div class="rows item6">
        <span class="hten">Họ và tên:</span> 
        @Html.TextBoxFor(m => m.FullName, new { @class = "form-control-input" })
        @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
    </div>
    <div class="rows item6">
        <span class="hten">Email:</span> <strong>@LawsUser.CustomerMail</strong>
    </div>
    <div class="rows item6">
        <span class="hten">Điện thoại: </span>
        @Html.TextBoxFor(m => m.CustomerMobile, new { @class = "form-control-input" })
        @Html.ValidationMessageFor(m => m.CustomerMobile, "", new { @class = "text-danger" })
    </div>
    <div class="cat-title">
        <div class="huy-capnhat">
            <div class="btn-huy">
                @Ajax.ActionLink(Resource.Cancel, string.Empty, string.Empty
                    , null
                    , new AjaxOptions
                    {
                        HttpMethod = "Post"
                        ,Url = Url.Action("RenewalOfServiceAccountProfileSwitchMode", "Ajax",new
                        {
                            mode = "view"
                        })
                        ,UpdateTargetId = "nang-cap-dich-vu-thong-tin-ca-nhan"
                        ,InsertionMode = InsertionMode.Replace
                        ,OnBegin = "lawsVn.ajaxEvents.OnBegin"
                        ,OnComplete = "lawsVn.ajaxEvents.OnComplete"
                    }, new { @class = "icon-huy" })
            </div>
            <div class="btn-huy"><a href="#" class="icon-capnhat submit-link"> @Resource.Update</a></div>
        </div>
    </div>
}