@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using LawsVNEN.App_GlobalResources
@using ICSoft.CMSLib
@model LawsVNEN.Models.Account.ForgotPasswordModel
<div class="content-center-pages searchblog">
    <div class="breadcrumb">
     <a href="@CmsConstants.ROOT_PATH" class="breadcrumb-item"><span class="icon-home">
         </span>@Resource.HomePage</a> » 
    <span class="breadcrumb-item colorrumb">@Resource.ForgotPassword</span> </div>

    <div class="cat-box-content">
        <div class="forgetpassword">
            <div class="form-forget">
                <div class="rows" style="text-align: center"><span class="tie-for"><img class="Forget-password_03" src="@Url.Content("~/assets/images/Forget-password_03.png")" />@Resource.TitleForgetPass</span></div>
                <div class="rows item6">
                    <span style="color:#ca2c32;">@Resource.Note:</span> @Resource.ForgotPassText
                </div>
                    @using (Ajax.BeginForm("ForgotPassword", "Account", null, new AjaxOptions()
                        {
                            HttpMethod = "Post",
                            OnBegin = "lawsVn.ajaxEvents.OnBegin",
                            OnComplete = "lawsVn.ajaxEvents.OnComplete",
                            OnSuccess = "lawsVn.ajaxEvents.LoginOnSuccess"
                        }, new { id = "ForgotPasswordForm" }))
                        {
                        @Html.AntiForgeryToken()
                    <div class="rows" >
                        <label class="col-sm-1 forget" >@Resource.UserName: </label>
                        <div class="col-sm-2 forget" style="width: 220px;">
                            @Html.TextBoxFor(m => m.CustomerName, new { @class = "text-tbao" })
                            @Html.ValidationMessageFor(m => m.CustomerName, "", new { @class = "text-danger" })
                        </div>
                        <button class="btn-default for">@Resource.Send</button>
                    </div>
                    }
            </div>
        </div>
    </div>
</div>
